.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 192px;

  .loader-spinner {
    border: 4px solid lightgray;
    border-left: 4px solid rgb(65, 65, 65);
    border-radius: 50%;
    animation: spin infinite ease 1.5s;
    background: none;
    height: 64px;
    width: 64px;
  }

  p {
    font-size: 18px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
