.top-header {
  position: fixed;
  z-index: 99;
  padding: 0 256px;
  width: 100vw;
  max-height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background-color: #f1f1f1;
}

.top-header__text {
  font-size: 20px;
}

@media screen and (width < 1280px) {
  .top-header {
    padding: 0 128px;
  }
}

@media screen and (width < 800px) {
  .top-header {
    padding: 0 64px;
  }
}

@media screen and (width < 520px) {
  .top-header {
    padding: 0 24px;
  }
}
