main {
  margin: 64px 256px;
}

@media screen and (width < 1280px) {
  main {
    margin: 64px 128px;
  }
}

@media screen and (width < 800px) {
  main {
    margin: 36px 64px;
  }
}

@media screen and (width < 520px) {
  main {
    margin: 24px 24px;
  }
}

h1 {
  font-size: 48px;
  margin-bottom: 32px;
}

@media screen and (width < 700px) {
  h1 {
    font-size: 36px;
    margin-bottom: 24px;
  }
}
